body {
    background-color: #f3e5f5; /* Change background color */
    font-family: Arial, sans-serif; /* Basic font styling */
}

.header {
    text-align: center;
    padding: 20px;
}

.home {
    text-align: center;
    margin: 20px;
}

img {
    max-width: 100%; /* Responsive image */
    height: auto;
}
